

body {
    background-color: $bg-main;
    font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color:  $color-primary;
    box-sizing: border-box;
    max-width: 1728px;
}
/* 
.header {
    font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
} */

/* HEADER PART */

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    width: 100%;
    position: relative;
    max-width: 1728px;
    margin: 0 auto;
}

.header__list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
 

.header__list-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 20px ;
    position: relative;
    display: inline-block;
}

.header__list-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0265DC;
    display: none;
}

.header__list > li:first-child .header__list-link::after {
    display: block;
}




.header__list-item {
    /* padding: 8px 20px ; */
}

.header__logo {
    margin: 35px 32px;
    width: 188px;
}

.header__action {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 32px;
}

.header__search-form {
    display: flex;
    align-items: center; 
} 


.header__search-form::after {
    content: "";
    display: block;
    align-items: center;
    width: 2px;
    height: 24px;
    background-color: $color-separator;
    margin-left: 16px;
}



 .header__search-input{
    max-width: 188px ;
}  

.header__discord {
    width: 150px;
    height: 48px;
    text-align: center;
}

.header__discord-text{
    color: var(--white);
}

.header__discord-icon {
    width: 24px;
    height: 24px;
}



/* FOOTER PART */

.footer {
    background-color: $bg-secondary;
    font-size: 16px;
    line-height: 24px;
    padding: 64px 0 0 0;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 64px 64px 64px;

}
.footer__logo-container {
    width: 320px;
    height: 94px;
    gap: 16px;
}

.footer__logo {
    margin-bottom: 12px;
}

.footer__links-container {
    display: flex;
    gap: 24px;
}

.footer__links-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
}

.footer__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    padding: 0 32px 0 8px;
    margin: 0;
}
.footer__description {
    font-size: 14px;
    line-height: 20px;
}

.footer__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.footer__item {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* padding: 0 8px 0 8px; */
    margin-bottom: 8px;
}

.footer__link {
    color: var(--white);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    padding: 8px 20px ;
}

.footer__bottom {
    padding-top: 42px;
    margin-inline: 64px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #BFC5EE1F;
}
.footer__copyright {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}

.footer__social-item {
    padding: 8px;
}

.footer__socials-list {
    display: flex;
    list-style-type: none;
    gap: 8px;
}