.banner {
    display: flex;
    max-width: 100%;
    padding-inline: 164px ;
    gap: 0;
}

.banner__title {
    font-size: 52px;
    line-height: 62px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    margin: 0;
    max-width: 700px;
}

.banner__highlight {
    color: var(--accent);

}
.banner__text-wrapper {
    width: 866.5px;
    max-height: 362px;
    margin: 139px 0;
}

.banner__text{
   font-size: 20px;
   line-height: 28px;
   margin: 0 auto;
}

.banner__stat-wrapper {
    display: flex;
    gap: 64px;
    margin-bottom: 32px;
}

.banner__stat {
    display: flex;
    flex-direction: column;
}

.banner__stat-number {
   font-size: 52px;
   line-height: 62px;
   font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;;
    text-shadow: 1px 0 4px var(--white);
}

.banner__stat-text {
    font-size: 16px;
    line-height: 24px;
    color: #EFF5FAD1;
}

.banner__buttons-wrapper {
    display: flex;
    gap: 16px;
}

.catalog-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 64px;
    max-width: 1600px;
    margin: 0 auto;
}
.catalog-top__icon{
    width: 24px;
    height: 24px;
}

.catalog-top__title {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.catalog-top__title::before {
    content: "";
    background-image: url("/src/images/static/icons/folder.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 8px;
}

.catalog-top__title::after {
    content: "";
    display: block;
    flex-grow: 1;
    max-width: 1167px;
    height: 2px;
    background-color:#D0D7FB2B ;
    margin-inline: 32px;
}

.catalog-top__line {
    width: 1167px;
    margin: auto;
    color: var(--border-color);
}
.catalog-top__action{
  display: flex;
  gap: 16px;
}

/* .catalog-top__button {
    display: flex;
    align-items: center;
}

.catalog-top__button:first-of-type::before {
    content: "";
    display: block;
    width: 2px;
    height: 24px;
    background-color:#D0D7FB2B  ;
    margin-right: 16px ;
} */

.catalog-top__button-wrapper {
    display: flex;
    align-items: center; 
    
}

.catalog-top__button-wrapper::after {
    content: "";
    display: block;
    width: 2px;
    height: 24px;
    background-color: #D0D7FB2B ;
    margin-left: 16px ;
}

.catalog__main{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 63px 64px;
    max-width: 1728px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 480px;
    padding: 24px;
    box-sizing: border-box;
    background-color: #1D1C28;
    position: relative;
}

.card::before {
    content: "";
    background-image: url("/src/images/static/main/about_us_top.webp");
    background-size: contain;
    background-repeat:  no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    opacity: 0;
    transition: opacity 0.25s;
}

.card::after {
    content: "";
    background-image: url("/src/images/static/main/about_us_button.webp");
    background-size: contain;
    background-repeat:  no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px; 
    height: 130px; 
    opacity: 0;
    transition: opacity 0.25s;
}

.card:hover::before,
.card:hover::after {
    opacity: 1;
}

.card__price {
    margin-top: 20px ;
    margin-bottom:  8px;
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.card__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #EFF5FAD1;

}
/* Card end*/


/* Our blog start*/
.blog__title {
    font-size: 36px;
    line-height: 48px;
    font-family:'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    text-align: center;
}

.blog__wrapper {
    gap: 15px;
}

.blog-card {
    width: 784px;
    height: 434px;
    background-color: #1D1C28;
}
.blog-card__author-icon {
    width: 16px;
    height: 16px;
}

.blog-card__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #EFF5FAD1;
}

.blog-card__date-icon {
    width: 16px;
    height: 16px;
}
.blog-card__date {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;/*check size*/
    color: #EFF5FAD1;
}
.blog-card__title {
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.blog-card__text {
    font-size: 16px;
    line-height: 24px;
}

.blog-card__footer {
    width: 161px;
    height: 40px;
}

.blog-card__footer-link {
}

.blog-card__footer-link::after{
    content: "";
    background-image: url("/src/images/static/icons/button-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 8px;
    height: 14px;
    display: inline-block;
    margin-right: 16px;

}
/* .blog-card__footer-button {
    margin-bottom: 128px;
}  */

.about-us {
    padding: 64px ;
}

.about-us__cards-wrapper {
    display: flex;
    margin-inline: 0;
    gap: 32px;
    margin-bottom: 40px ;
    counter-reset: card-counter;
}

.about-us__title {
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    margin-bottom: 16px;
}

.about-us__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-inline: 32px;
    color: #EFF5FAD1;
}

.about-us__card-title {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    margin-bottom: 24px;
    position: relative;
    counter-increment: card-counter;
}

.about-us__card-title::after{
    content: '0' counter(card-counter);
    position: absolute;
    left: 0;
    top: -21px;
    font-size: 80px;
    color:#1A1925 ;
    text-shadow: 0 0 2px #0265DC;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.7s ease;
    -webkit-text-stroke: #0265DC;
}

.about-us__card-title:hover {
    color: #EFF5FAD1;
}

.about-us__card .about-us__card-title::after{
    opacity: 1;
}

.about-us__card {
    padding: 32px;
    position: relative;
    background-color: #1A1925;
    z-index: 1;
}


.about-us__card::before {
    content: "";
    background-image: url("/src/images/static/main/about_us_top.webp");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100px; 
    opacity: 0;
    transition: opacity 0.25s;
}

.about-us__card::after {
    content: "";
    background-image: url("/src/images/static/main/about_us_button.webp");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px; 
    height: 130px; 
    opacity: 0;
    transition: opacity 0.25s;
}

.about-us__card:hover::before,
.about-us__card:hover::after {
    opacity: 1; 
}



.about-us__card-title {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.about-us__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

}

.about-us__button {
   display: block;
   margin: 0 auto;
    /* width: 149px;
    height: 48px;
    border: 2px solid var(--border-color);
    background-color: transparent;
    color:var(--white);
    font-weight: 600;
    font-size: 18px;
    line-height: 24px; */
}



.our-team__title {
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    margin-bottom: 40px;
}

.our-team__wrapper {
    margin-inline: 64px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: start;
    margin-bottom: 128px;
}

.team-card {
    width: 293.33px;
    height: 316px;
    background-color: #1D1C28;
    text-align: center;
    align-items: flex-start;
    padding: 32px 32px 0 32px;
    box-sizing: border-box;
}

.team-card__image {
    margin-bottom: 16px;
}

.team-card__info-wrapper {
    padding: 0%;
    margin-bottom: 16px;
}
.team-card__name {
    margin: 0%;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.team-card__position {
    color: #EFF5FAD1;
    font-size: 18px;
    line-height: 28px;
}

.team-card__media-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
     gap: 26px;
     padding: 10px;
     margin: 0%;
     margin-bottom: 32px;
}

.faq {
    margin-inline: 64px;
    margin-bottom: 104px;
}

.faq__title {
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    text-align: center;
}

.faq__list {
     background-color: #1D1C28;
     padding: 24px;
}

.faq__question {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    background-color: #1D1C28;
}

.faq__answer {
    font-size: 16px;
    line-height: 24px;
    background-color: #1D1C28;
}