@use '../../styles/base/variables' as *;
@use '../../styles/base/mixins' as m;

.burger-menu{
  display: none;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  top: 78px;
  left: -16px;
  width: 100%;
  height: auto;
  background: $bg-main;
  z-index: 2;
   transform: translateX(-100%);
   padding: 20px 12px;

   @include m.tab {
    display: flex;
    justify-content: start;
   }
}

.side-menu--active  .burger-menu{
  transform: translateX(0);
}

.burger-menu__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
}

.burger-menu__list-item {
  padding: 8px 20px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-accent;
        display: none;
    }
}

.menu-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

// .filter {
//   position: fixed;
//   top: 200px;
//   left: 50px;
//   width: 200px;
//   height: 200px;
//   background-color: bisque;
//   z-index: 2;
// }

// .container {
//   max-width: 1728px;
//   padding-inline: 16px;
//   margin-inline: auto;
// }

.header__wrapper {
    padding-inline: 32px;
    position: relative;

    @include m.tab {
        padding-inline: 16px;
    }
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    position: relative;
    max-width: 1728px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

@include m.tab {
    .header__container {
        max-height: 80px;
        padding-top: 16px;
        padding-bottom: 16px;
        justify-content: space-between;
    }
}

  .header__logo-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
  }


  .header__mobile-logo {
    display: none;
    
    @include m.tab {
      display: block;
    }
  }

.header__logo {
  color: $color-primary;
   padding-top: 10px;
   padding-bottom: 10px;

// @include m.mob {
//     display:block;
// }

@include m.tab {
    display: none;
}
}


.header__nav {
    display: flex;
}

@include m.tab {
    .header__nav {
    display: none;
}
}

.header__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
}
 
.header__list-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 20px ;
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-accent;
        display: none;
    }
}

.header__list:first-of-type .header__list-link::after {
    display: block;
  }

.header__action {
    display: flex;
    align-items: center;
    gap: 16px;
}

@include m.mob {
    .header__action {
      margin-left: auto;
    }
  }

    .header__search-form {
        display: flex;
        align-items: center;

        &::after {
        content: "";
        display: block;
        align-items: center;
        width: 2px;
        height: 24px;
        background-color: $color-separator;
        margin-left: 16px;
        }
    }
    
    @include m.tab {
        .header .search-form--secondary {
          display: none;
        }
      }

 .header__search-input {
    max-width: 188px ;
}  


.header__discord {
    text-align: center;
}

.header__discord-text{
    color: $color-primary;
}

@include m.tab {
 .header__discord-text{
    display: none;
 }
 
}
.header__discord-link{
    
}

.header__discord-link{
    @include m.laptop {
        padding: 8px;
}
}

.header__discord-icon {
    width: 24px;
    height: 24px;
}

@include m.mob {
    .header .button--secondary {
       padding: 8px;
    }
}

@include m.mob {
    .header__button-text {
        display: none;
    }
}

@include m.mob {
    .header .button--accent {
        padding: 10px;
    }
}