@use '../../styles/base/variables' as *;
@use '../../styles/base/mixins' as m;


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    position: relative;
    max-width: 1728px;
    margin: 0 auto;
}

@include m.tab {
    .header__container {
        max-height: 80px;
        padding: 16px;
        justify-content: flex-start;
    }
}

.header__burger {
    display: none;
}

.header__burger-icon {
    align-items: center;
    background-color: $color-primary;
    width: 20px;
    height: 2px;
    border-radius: 2px;
}

@include m.tab {
    .header__burger {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }


.header__logo {
    margin: 35px 32px;
}

.header__mobile-logo {
    display: none;
}

@include m.mob {
    .header__mobile-logo{
    display: block;
    margin-left: 16px;
}
}


@include m.tab {
    .header__logo {
    display:block;
}

@include m.mob {
    .header__logo {
    display: none;
}
}
}


.header__nav {
    display: flex;
}

@include m.tab {
    .header__nav {
    display: none;
}
}

.header__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
}
 
.header__list-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 20px ;
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-accent;
        display: none;
    }
}

.header__list:first-of-type .header__list-link::after {
    display: block;
  }

.header__action {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 32px;
}

@include m.tab {
    .header__action {
      margin-left: auto;
    }
  }

    .header__search-form {
        display: flex;
        align-items: center;

        &::after {
        content: "";
        display: block;
        align-items: center;
        width: 2px;
        height: 24px;
        background-color: $color-separator;
        margin-left: 16px;
        }
    }
    
    @include m.laptop {
        .header .search-form {
          display: none;
        }
      }

 .header__search-input {
    max-width: 188px ;
}  

.header__discord {
    text-align: center;
}

.header__discord-text{
    color: $color-primary;
}

@include m.tab {
 .header__discord-text{
    display: none;
 }
}

.header__discord-icon {
    width: 24px;
    height: 24px;
}

@include m.tab {
    .header .button--secondary {
       padding: 10px;
    }
}

@media (max-width: 360px)  {
    .header__button-text {
        display: none;
    }
}

@media (max-width: 360px) {
    .header .button--accent {
        padding: 12px;
    }
}