@use '../../styles/base/variables' as *;

.catalog {
    display: flex;
    gap: 64px;
    padding-inline: 160px;
    margin-bottom: 64px;
}

.catalog__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
}

.catalog__content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 32px;
  }

  .catalog__title {
    font-family: $font-accent;
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
    margin: 0;
    flex-grow: 1;
    max-width: 423.5px;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .catalog__sort-form {
    display: flex;
    gap: 16px;
    flex-grow: 1;
}

.catalog__sort-select {
    width: 145px;
    height: 48px;
    align-items: center;
}

.catalog__search {
    width: 100%;
    box-sizing: border-box;
}

.catalog__search-form {
    flex-grow: 1;
    min-width: 0;
    width: 100%; 
    display: flex; 
}

.catalog__buttons-wrapper {
    display: flex;
    align-items: start;
    gap: 16px;
    margin-bottom: 32px;
    padding: 16px;
    background-color: $bg-alt;
}

.catalog__button {
font-size: 14px;
font-weight: 600;
line-height: 20px;
padding: 6px 12px;
}

// .catalog__button::after {
//     content: "";
//     position: absolute;
//     background-image: url("/img/icons/cross.svg");
//     background-size: contain;
//     background-repeat: no-repeat;
//     width: 16px;
//     height: 16px;
//     margin-left: px;
// }

.catalog_card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 32px;
}