@use '../../styles/base/variables' as *;
@use '../../styles/base/mixins' as m;

.card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    flex: 0 0 auto;
    box-sizing: border-box;
    background-color: $bg-alt;
    position: relative;
    min-width: 300px;

      @include m.laptop {
        min-width: 270px;
      }

      @include m.tab {
        min-width: 303px;
      }

      @include m.mob {
        padding: 16px;
        min-width: 328px;
      }


        &::before {
            content: "";
            background-image: url("/img/main/about_us_top-1x.webp");
            background-size: contain;
            background-repeat:  no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            opacity: 0;
            transition: opacity 0.25s;
        }

        &::after {
            content: "";
            background-image: url("/img/main/about_us_button-1x.webp");
            background-size: contain;
            background-repeat:  no-repeat;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100px;
            height: 130px;
            opacity: 0;
            transition: opacity 0.25s;
        }

        &:hover::before,
        &:hover::after {
        opacity: 1;
}

    &__price {
        margin-top: 20px ;
        margin-bottom:  8px;
        font-size: 36px;
        line-height: 48px;
        font-family: $font-accent;
    }

    &__name {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: $color-alt;

    }
    
    &__image {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        aspect-ratio: 0.7802;

        @include m.laptop {
            aspect-ratio: 0.6851;
          }
    
          @include m.tab {
            aspect-ratio: 0.7870;
          }
    
          @include m.mob {
            aspect-ratio: 0.9135;
          }
    }

    &__label {
        position: absolute;
        top: 40px;
        right: 40px;
        padding: 8px 10px;
        background-color: $color-primary;
        color: $color-accent;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px ;
    }

}