@use '../../styles/base/variables' as *;

.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  .checkbox-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  .custom-checkbox {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    margin-right: 8px;
    border: 2px solid $color-border-alt;
    background-color: $bg-main;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $tran-duration;
    flex-shrink: 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 6px;
      background-image: url("/img/icons/mark-icon.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      opacity: 0;
      transition: opacity 0.2s ease, transform 0.2s ease;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .custom-checkbox:hover {
    background-color: $bg-alt;
  }

  // active
  .checkbox-input:active + .custom-checkbox {
    background-color: $bg-hover;
    border-color: $bg-hover;
  }

  // focus
  .checkbox-input:focus-visible + .custom-checkbox {
    background-color: $bg-secondary;
    border-color: $bg-secondary;
    box-shadow: 0 0 0 2px $color-border-focus;
    outline: none;
  }

  // disabled
  .checkbox-input:disabled + .custom-checkbox {
    background-color: $color-separator;
    border-color: $color-separator;
  }

  .checkbox-input:invalid + .custom-checkbox:hover {
    background-color: $color-border;
    border-color: transparent;
    box-shadow: 0 0 0 2px $color-invalid;
  }


  .checkbox-input:checked + .custom-checkbox {
    background-color: $bg-surface;
    border-color: transparent;
  }

  .checkbox-input:checked + .custom-checkbox:hover {
    background-color: $bg-tertiary;
  }

  .checkbox-input:checked + .custom-checkbox:active {
    background-color: $bg-hover;
  }

  .checkbox-input:checked + .custom-checkbox:focus-visible {
    box-shadow: 0 0 0 2px $color-border-focus;
  }

  .checkbox-input:checked + .custom-checkbox:disabled {
    background-color: $color-separator;
    border-color: $color-separator;
  }

  .checkbox-input:checked + .custom-checkbox::after {
    opacity: 1;
  }
}