@use 'src/styles/base/variables' as *;

.input {
    padding: 10px 22px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    font-family: $font-base;
    border: 2px solid $color-separator;
    background-color: transparent;
    transition-duration: $tran-duration; 
    //  padding-inline: 12px;
  
        &:hover {
            border-color: $color-border-focus;
        }
}