@use '../../styles/base/variables' as *;

.link {
    // text-decoration: none;
    text-align: center;
    color: $color-primary;
    transition-duration: $tran-duration;
    font-family: $font-base;
    font-weight: 600;
  
    &:hover {
      color: $color-border-focus;
    }
  
    &:focus {
      color: $color-primary;
    }
  
    &:focus-visible {
      outline: solid $color-border-focus;
      border-radius: 5px;
    }
  
    &--accent {
      color: $bg-hover;
  
      &:hover {
        color: $color-border-focus;
        transition-duration: $tran-duration;
      }
  
      &:focus {
        color: $color-border-focus;
      }
  
      &:focus-visible {
        outline: 4px solid $color-border-focus;
        border-radius: 5px;
      }
    }
  }