{% extends 'layouts/index/base.njk' %}

{% block styles %}
  <link rel="stylesheet" href="/css/main.css">
{% endblock %}

{% block content %}
{% include 'partials/blog/blog-header.njk' %}
{% include 'partials/contact/contact-info.njk' %}
{% include 'partials/contact/contact-form.njk' %}

{% endblock %}