@use '../../styles/base/variables' as *;

.blog-header {
    width: 100%;
    min-height: 300px;
    max-height: 376px;
    list-style: none;
    text-align: center;
    background-image: url("/src/images/static/blog/background_test.png");
    background-color: $bg-alt;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__wrapper {
    padding-top: 64px ;
    padding-bottom: 194px;
        text-align: center;

    }

    &__title {
        font-size: 52px;
        line-height: 62px;
        margin-top: 0;
        margin-bottom: 0;
        font-family: $font-accent;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    &__item {
        padding: 6px 12px ;
        display: flex;


            &:not(:last-child)::after {
        content: "";
        display: block;
        align-items: center;
        margin-left: 20px;
        width: 2px;
        height: 24px;
        border-radius: 2px;
        background-color: $color-separator;
        }
    }
}