@use './../../base/variables' as *;

.list-name__list-items{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

.list-name__list-items li {
    position: relative;
    padding-left: 30px;
}

.list-name__list-items li:not(:last-child) {
    margin-bottom: 8px;
}

.list-name__list-items li::before {
    content: "";
    background-image: url("/src/images/static/logo/list-logo.svg");
    background-size: contain;
     background-repeat: no-repeat;
     width: 24px;
     height: 24px;
     position: absolute;
     left: 0;
}