@use 'src/styles/base/variables' as *;

.social {
    display: flex;
    align-items: center;
    gap: 15px;

    &__title {
        font-size: 16px;
        line-height: 24px;
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 10px;
        padding: 0;
    }

    &__link {
        border: 2px solid var(--Elements-SeporatorBold, $color-separator);
    }
}