<section class="banner">
  <div class="banner__wrapper">
   <div class="banner__text-wrapper">
     <div class="banner__title-wrapper">
       <h1 class="banner__title">
         WITH <span class="banner__highlight">BINABOX</span> EXPLORE NFT
         COLLECTION
       </h1>
       <p class="banner__text">
         We are the best way to check the rarity of NFT collection
       </p>
     </div>
     <div class="banner__stat-wrapper">
       <div class="banner__stat">
         <span class="banner__stat-number">2240+</span>
         <span class="banner__stat-text">Total Items</span>
       </div>
       <div class="banner__stat">
         <span class="banner__stat-number">1000+</span>
         <span class="banner__stat-text">Profiles whitelisted</span>
       </div>
     </div>
     <div class="banner__buttons-wrapper">
       <button class="button button--accent">Connect Wallet</button>
       <button class="button button--secondary">Whitelist Now</button>
     </div>
   </div>
   <img class="banner__image" src="/img/main/cube-1x.webp" alt="Main banner" width="533.5" height="641.8">
   </div>
</section>