<div class="card">
  <a class="card__link" href="#">
    <img class="card__image" src="{{ item.image }}" alt="{{ item.name }}" width="{{ item.widht }}" height="{{ item.height}}" />
  </a>
  <span class="card__label">{{ item.label }}</span>
  <span class="card__price">{{ item.price }}</span>
  <span class="card__name">{{ item.name }}</span>
</div>