<div class="card">
  <a class="card__link" href="#">
    <img class="card__image" src="{{ product.image }}" alt="{{ product.name }}" width="252" height="324" />
  </a>
  <span class="card__price">{{ product.price }}</span>
  <span class="card__name">{{ product.name }}</span>
</div>