<div class="catalog-top">
   <!-- <img src="/img/icons/folder.svg" alt="Folder icon" class="catalog-top__icon"> -->
   {# <div class="catalog-top__icon-wrapper"> #}
  {# <svg class="catalog-top__icon" width="24" height="24">
    <use href="img/sprite.svg#folder"></use>
  </svg> #}
  <h2 class="catalog-top__title">Catalog</h2>
{# </div> #}
   <div class="catalog-top__action">
     <div class="catalog-top__button-wrapper">
       <a class="button button--secondary catalog-top__link" href="#">See all</a>
     </div>
     <button class="button button--secondary catalog-top__button">
      <svg class="catalog-top__button-icon catalog-top__button-icon--prev" width="24" height="24"><use href="img/sprite.svg#chevron-left"></use></svg>
     </button>
     <button class="button button--accent catalog-top__button">
       <svg class="catalog-top__button-icon catalog-top__button-icon--next" width="24" height="24"><use href="img/sprite.svg#chevron-right"></use></svg>
     </button>
   </div>
   </div>