<section class="catalog">
  {% include "partials/home/catalog-top.njk" %}
  <div class="catalog__main">
    {% for item in products %}
      {% include "partials/home/card.njk" %}
    {% endfor %}
  </div>
</section>