<div class="catalog-top">
   <!-- <img src="/img/icons/folder.svg" alt="Folder icon" class="catalog-top__icon"> -->
   <h2 class="catalog-top__title">Catalog</h2>
   <div class="catalog-top__action">
     <div class="catalog-top__button-wrapper">
       <a class="button button--secondary catalog-top__link" href="#">See all</a>
     </div>
     <button class="button button--secondary catalog-top__button">
       <img src="/img/icons/arrow_left.svg" alt="Arrow left"
            class="catalog-top__button-icon catalog-top__button-icon--prev">
     </button>
     <button class="button button--accent catalog-top__button">
       <img src="/img/icons/arrow_right.png" alt="Arrow right"
            class="catalog-top__button-icon catalog-top__button-icon--next">
     </button>
   </div>
   </div>