<section class="faq">
  <div class="faq__wrapper wrapper">
    <h2 class="faq__title">FAQs</h2>
    <div class="faq__list">
      <div class="faq__item">
        <dt class="faq__question">What are the NFTs?</dt>
        <dd class="faq__answer">
          Urna vitae erat et lacus, consectetur ac nulla vestibulum lobortis.
          Nulla dapibus urna volutpat venenatis, risus faucibus.
        </dd>
      </div>
      <div class="faq__item">
        <dt class="faq__question">How do i get NFTs?</dt>
        <dd class="faq__answer">Text will be later</dd>
      </div>
      <div class="faq__item">
        <dt class="faq__question">How can we buy your NFTs?</dt>
        <dd class="faq__answer">Text will be later</dd>
      </div>
      <div class="faq__item">
        <dt class="faq__question">Who are the team behind the project?</dt>
        <dd class="faq__answer">Text will be later</dd>
      </div>
    </div>
  </div>
</section>