        {% block styles %}
        <link rel="stylesheet" href="/css/main.css">
    {% endblock %}
   
   <section class="faq">
        <div class="faq__wrapper"></div>
        <h2 class="faq__title">FAQs</h2>
        <dl class="faq__list">
          <dt class="faq__question">What are the NFTs?</dt>
          <dd class="faq__answer">
            Urna vitae erat et lacus, consectetur ac nulla vestibulum lobortis.
            Nulla dapibus urna volutpat venenatis, risus faucibus.
          </dd>
          <dt class="faq__question">How do i get NFTs?</dt>
          <dd class="faq__answer">Text will be later</dd>
          <dt class="faq__question">How can we buy your NFTs?</dt>
          <dd class="faq__answer">Text will be later</dd>
          <dt class="faq__question">Who are the team behind the project?</dt>
          <dd class="faq__answer">Text will be later</dd>
        </dl>
      </section>