      {% block styles %}
        <link rel="stylesheet" href="/css/main.css">
    {% endblock %}
 
 <div class="team-card">
            <img class="team-card__image" loading="lazy" src="/src/images/static/main/jason_smith.webp" alt="Jason Smith"  width="120" height="120"/>
            <div class="team-card__info-wrapper">
            <h3 class="team-card__name">{{ item.title }}</h3>
            <span class="team-card__position">{{ item.position }}</span>
          </div>
            <ul class="team-card__media-list">
            {% for media_item in item.media %}
              <li class="team-card__media-item">
                <a class="team-card__media-link link" href="{{ item.link }}" target="_blank"><img src="{{ item.icon }}" /></a>
              </li>
              {% endfor %}
            </ul>
          </div>