<div class="team-card">
   <img class="team-card__image" loading="lazy" src="/img/main/jason_smith-1x.webp" alt="Jason Smith"
        width="120" height="120" />
   <div class="team-card__info-wrapper">
     <h3 class="team-card__name">{{ item['team-card'].title }}</h3>
     <span class="team-card__position">{{ item['team-card'].position }}</span>
   </div>
   <ul class="team-card__media-list">
    {% for media_item in item['team-card'].media %}
       <li class="team-card__media-item">
         <a class="team-card__media-link link" href="{{ media_item.link }}" target="_blank"><svg width="24" height="24"><use href="{{ media_item.icon }}"></use></svg> </a>
       </li>
     {% endfor %}
   </ul>
</div>