<section class="blog">
        <h2 class="blog__title"> {{ blog.title }}</h2>
        <div class="blog__wrapper">
        <div class="blog__list">
        { % for item in blog % }
        <li>
          <article class="blog-card">
            <a class="blog-card__link" href="#"><img class="blog-card__image" loading="lazy" src="/src/images/main/skeleton_head.webp" alt="Blog image" width="736" height="198" /></a>
            <div class="blog-card__data">
            <img class="blog-card__author-icon" src="/src/images/icons/author.svg" alt="Autor icon" />
            <small class="blog-card__name">Tony Nguyen</small>
            <img class="blog-card__date-icon" src="/src/images/icons/calendar.svg" alt="Date icon" />
            <time class="blog-card__date" datetime="2022-06-20">20 Jun 2022</time>
          </div>
          <div class="blog-card__content">
            <h3 class="blog-card__title">Sonic live</h3>
              <p class="blog-card__text">
                One September 22, 2021 A volutpat nulla eros, nulla ultrices nec
                nulla imperdiet...
              </p>
            </div>
            <div class="blog-card__footer">
            <a class="button button--secondary blog-card__footer-link" href="#" target="_blank">Read more</a>
          </div>
          </article>
          <article class="blog-card">
            <a class="blog-card__link" href="#"><img class="blog-card__image" loading="lazy" src="/src/images/main/skeleton_head.webp" alt="Blog image"  width="736" height="198"/></a>
            <div class="blog-card__data">
            <img class="blog-card__author-icon" src="/src/images/icons/author.svg" alt="Autor icon" />
            <small class="blog-card__name">Tony Nguyen</small>
            <img class="blog-card__date-icon" src="/src/images/icons/calendar.svg" alt="Date icon" />
            <time class="blog-card__date" datetime="2022-06-20">20 Jun 2022</time>
          </div>
          <div class="blog-card__content">
            <h3 class="blog-card__title">Sonic live</h3>
              <p class="blog-card__text">
                One September 22, 2021 A volutpat nulla eros, nulla ultrices nec
                nulla imperdiet...
              </p>
            </div>
            <div class="blog-card__footer">
            <a class="button button--secondary blog-card__footer-link" href="#" target="_blank">Read more </a>
          </div>
          </article>
          <article class="blog-card">
            <a class="blog-card__link" href="#"><img class="blog-card__image" loading="lazy" src="/src/images/main/cats_head.webp" alt="Blog image"  width="736" height="198"/></a>
            <div class="blog-card__data">
            <img class="blog-card__author-icon" src="/src/images/icons/author.svg" alt="Autor icon" />
            <small class="blog-card__name">Tony Nguyen</small>
            <img class="blog-card__date-icon" src="/src/images/icons/calendar.svg" alt="Date icon" />
            <time class="blog-card__date" datetime="2022-06-20">20 Jun 2022</time>
          </div>
          <div class="blog-card__content">
            <h3 class="blog-card__title">Sonic live</h3>
              <p class="blog-card__text">
                One September 22, 2021 A volutpat nulla eros, nulla ultrices nec
                nulla imperdiet...
              </p>
            </div>
            <div class="blog-card__footer">
            <a class="button button--secondary blog-card__footer-link" href="#" target="_blank">Read more </a>
          </div>
          </article>
          <article class="blog-card">
            <a class="blog-card__link" href="#"><img class="blog-card__image" loading="lazy" src="/src/images/main/monkey_head.webp" alt="Blog image"  width="736" height="198"/></a>
            <div class="blog-card__data">
            <img class="blog-card__author-icon" src="/src/images/icons/author.svg" alt="Autor icon" />
            <small class="blog-card__name">Tony Nguyen</small>
            <img class="blog-card__date-icon" src="/src/images/icons/calendar.svg" alt="Date icon" />
            <time class="blog-card__date" datetime="2022-06-20">20 Jun 2022</time>
          </div>
          <div class="blog-card__content">
            <h3 class="blog-card__title">Sonic live</h3>
              <p class="blog-card__text">
                One September 22, 2021 A volutpat nulla eros, nulla ultrices nec
                nulla imperdiet...
              </p>
            </div>
            <div class="blog-card__footer">
            <a class="button button--secondary blog-card__footer-link" href="#" target="_blank">Read more </a>
          </div>
          </article>
          <article class="blog-card">
            <a class="blog-card__link" href="#"><img class="blog-card__image" loading="lazy" src="/src/images/main/duck.webp" alt="Blog image"  width="736" height="198" /></a>
            <div class="blog-card__data">
            <img class="blog-card__author-icon" src="/src/images/icons/author.svg" alt="Autor icon" />
            <small class="blog-card__name">Tony Nguyen</small>
            <img class="blog-card__date-icon" src="/src/images/icons/calendar.svg" alt="Date icon" />
            <time class="blog-card__date" datetime="2022-06-20">20 Jun 2022</time>
          </div>
          <div class="blog-card__content">
            <h3 class="blog-card__title">Sonic live</h3>
              <p class="blog-card__text">
                One September 22, 2021 A volutpat nulla eros, nulla ultrices nec
                nulla imperdiet...
              </p>
            </div>
            <div class="blog-card__footer">
              <a class="button button--secondary blog-card__footer-link" href="#" target="_blank">Read more</a>
          </div>
          </article>
          <article class="blog-card">
            <a class="blog-card__link" href="#"><img class="blog-card__image" loading="lazy" src="/src/images/main/duck.webp" alt="Blog image"   width="736" height="198"/></a>
            <div class="blog-card__data">
            <img class="blog-card__author-icon" src="/src/images/icons/author.svg" alt="Autor icon" />
            <small class="blog-card__name">Tony Nguyen</small>
            <img class="blog-card__date-icon" src="/src/images/icons/calendar.svg" alt="Date icon" />
            <time class="blog-card__date" datetime="2022-06-20">20 Jun 2022</time>
          </div>
          <div class="blog-card__content">
            <h3 class="blog-card__title">Sonic live</h3>
              <p class="blog-card__text">
                One September 22, 2021 A volutpat nulla eros, nulla ultrices nec
                nulla imperdiet...
              </p>
            </div>
            <div class="blog-card__footer">
              <a class="button button--secondary blog-card__footer-link" href="#" target="_blank">Read more</a>
          </div>
          </article>
        </div>
          <button class="button button--secondary blog__button">Read more</button>
      </section>