  <footer class="footer">
        <div class="footer__main">
        <div class="footer__logo-container">
          <a href="index.html">
          <img class="footer__logo" loading="lazy" src="img/logo//binabox_blue_logo-1x.webp" alt="BINABOX logo" width="188"  height="42"/>
          </a>
          <p class="footer__description">We are the best way to check the rarity of NFT collection.</p>
        </div>
        <div class="footer__links-container">
          <div class="footer__links-section">
            <h3 class="footer__title">Subscribe</h3>
            <nav class="footer__nav">
              <ul class="footer__list">
                <li class="footer__item"><a class="footer__link link" href="index.html">Home</a></li>
                <li class="footer__item"><a class="footer__link link" href="blog.html">Blog</a></li>
                <li class="footer__item"><a class="footer__link link" href="catalog.htm">Catalog</a></li>
                <li class="footer__item"><a class="footer__link link" href="cantact.htm">Contact us</a></li>
              </ul>
            </nav>
          </div>
          <div class="footer__links-section">
            <h3 class="footer__title">Company</h3>
            <nav class="footer__nav">
              <ul class="footer__list">
                <li class="footer__item"><a class="footer__link link" href="#">Terms & Conditions</a></li>
                <li class="footer__item"><a class="footer__link link" href="#">Privacy Policy</a></li>
                <li class="footer__item"><a class="footer__link link" href="#">Whitepaper</a></li>
                <li class="footer__item"><a class="footer__link link" href="#">Help Center</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
        <div class="footer__bottom">
          <div class="footer__bottom-inner">
          <p class="footer__copyright">BINABOX 2022 - ALL rights reserved</p>
          <ul class="footer__socials-list">
            <li class="footer__social-item">
              <a class="footer__social-link link" href="#" target="_blank"><img class="footer__social-icon" src="img/icons/twitter.svg" alt="Twitter" /></a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link link" href="#" target="_blank"><img class="footer__social-icon" src="img/icons/facebook.svg" alt="Facebook" /></a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link link" href="#" target="_blank"><img class="footer__social-icon" src="img/icons/telegram2.svg" alt="Telegram" /></a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link link" href="#" target="_blank"><img class="footer__social-icon" src="img/icons/youtube.svg" alt="Youtube" /></a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link link" href="#" target="_blank"><img class="footer__social-icon" src="img/icons/ticktok.svg" alt="TikTok" /></a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link link" href="#" target="_blank"><img class="footer__social-icon" src="img/icons/discord.svg" alt="Discord" /></a>
            </li>
          </ul>
          </div>
        </div>
      </footer>