<header class="header">
  <div class="header__wrapper">
    <div class="header__container">
      <div class="burger-menu">
        <form class="search-form search-form--no-divider" action="/search" method="get">
          <div class="search-form__wrapper">
            <button type="submit" class="search-form__button" aria-label="Submit search">
              <svg class="search-form__icon" width="24" height="24">
                <use href="img/sprite.svg#search"></use>
              </svg>
            </button>
            <input type="text" class="search-form__input" name="query" placeholder="Search" aria-label="Search">
          </div>
        </form>
        <nav>
        <ul class="burger-menu__list">
          <li class="burger-menu__list-item">
            <a class="burger-menu__link link" href="index.html">Home</a>
          </li>
          <li class="burger-menu__list-item">
            <a class="burger-menu__link link" href="blog.html">Blog</a>
          </li>
          <li class="burger-menu__list-item">
            <a class="burger-menu__link link" href="catalog.html">Catalog</a>
          </li>
          <li class="burger-menu__list-item">
            <a class="burger-menu__link link" href="contact.html">Contact Us</a>
          </li>
        </ul>
      </nav> 
      </div> 
      <div class="menu-wrapper">
       <a href="#" class="menu-button js-burger" aria-label="Open menu">
        <span class="burger-icon"></span>
      </a>
        <a href="index.html">
          <img class="header__logo" src="/img/logo/binabox_logo-1x.webp" alt="BINABOX logo" width="188" height="42">
        </a>
        <a href="index.html">
          <img class="header__mobile-logo" src="/img/logo/list-logo.svg" alt="BINABOX logo" width="36" height="40">
        </a> 
        </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__list-item">
            <a class="header__list-link link" href="index.html">Home</a>
          </li>
        </ul>
        <ul class="header__list">
          <li class="header__list-item">
            <a class="header__list-link link" href="blog.html">Blog</a>
          </li>
        </ul>
        <ul class="header__list">
          <li class="header__list-item">
            <a class="header__list-link link" href="catalog.html">Catalog</a>
          </li>
        </ul>
        <ul class="header__list">
          <li class="header__list-item">
            <a class="header__list-link link" href="contact.html">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="header__action">
        <form class="search-form search-form--secondary" action="/search" method="get">
          <div class="search-form__wrapper">
            <button type="submit" class="search-form__button" aria-label="Submit search">
              <svg class="search-form__icon" width="24" height="24">
                <use href="img/sprite.svg#search"></use>
              </svg>
            </button>
            <input type="text" class="search-form__input" name="query" placeholder="Search" aria-label="Search">
          </div>
        </form>
        <div class="header__discord">
          <a class="header__discord-link button button--secondary" href="#" target="_blank">
            <svg class="footer__social-icon" width="24" height="24">
              <use href="img/sprite.svg#discord"></use>
            </svg>
            <span class="header__discord-text">Discord</span>
          </a>
        </div>
        <button class="header__button button button--accent">
          <svg class="header__button-icon" width="24" height="24">
            <use href="img/sprite.svg#wallet"></use>
          </svg>
          <span class="header__button-text">Connect</span>
        </button>
      </div>
    </div>
  </div> 
</header>