 <header class="header">
    <div class="header__wrapper">
   <div class="header__container">
    <div class="burger__wrapper">
    <button class="header__burger button button--icon">
        <span class="header__burger-icon"></span>
        <span class="header__burger-icon"></span>
        <span class="header__burger-icon"></span>
    </button>
        {# <svg>
        <use href="img/sprite.svg#telegram" width="32" height="30"></use>
        </svg> #}
      <img class="header__logo" src="/img/logo/binabox_logo-1x.webp" alt="BINABOX logo" width="188"
              height="42">
               <img class="header__mobile-logo" src="/img/logo/list-logo.svg" alt="BINABOX logo" width="36"
              height="40">
              </div>
        <nav class="header__nav">
           <ul class="header__list">
                     <li class="header__list-item"><a class="header__list-link link" href="index.html">Home</a></li>
             </ul>
              <ul class="header__list">
                     <li class="header__list-item"><a class="header__list-link link" href="blog.html">Blog</a></li>
             </ul>
                <ul class="header__list">
                     <li class="header__list-item"><a class="header__list-link link" href="catalog.html">Catalog</a></li>
               </ul>
                <ul class="header__list">
                     <li class="header__list-item"><a class="header__list-link link" href="contact.html">Contact Us</a></li>
               </ul>
        </nav>
        <div class="header__action">
             <form class="search-form" action="/search" method="get">
                <div class="search-form__wrapper">
                    <button type="submit" class="search-form__button" aria-label="Submit search">
                        <img src="img/icons/search-icon.svg" alt="Search" class="search-form__icon" width="20" height="20">
                      </button>
                  <input type="text" class="search-form__input" name="query" placeholder="Search" aria-label="Search">
                </div>
              </form>
             <div class="header__discord">
                 <a class="header__discord-link button button--secondary" href="#" target="_blank">
                     <img src="img/icons/discord.svg" alt="Discord icon" class="header__discord-icon">
                     <span class="header__discord-text">Discord</span>
                 </a>
             </div>
             <button class="header__button button button--accent">
                 <img src="img/icons/wallet.svg" alt="Wallet icon" class="header__button-icon">
                 <span class="header__button-text">Connect</span>
             </button>
         </div>
      </div>
     </div>
 </header>