.banner {
    display: flex;
}

.banner__title {
    font-size: 52px;
    line-height: 62px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;

}
.banner__highlight {
    color: #0265DC;

}

.banner__text{
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
}

.banner__stat-wrapper {
    display: flex;
    gap: 64px;
}

.banner__stat {
    display: flex;
    flex-direction: column;

}

.banner__stat-number {
   font-family: 52px;
   line-height: 62px;
   font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;;
    text-shadow: 1px 0 10px var(--white);
}

.banner__stat-text {
    font-size: 16px;
    line-height: 24px;
    color: #EFF5FAD1;
}

.banner__button {
    color: #F5F8FB;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.banner__button--accent {
    width: 190px;
    min-height: 48px;
    background-color:#0265DC ;
    border: none;

}

.banner__button--whitelist{
    border: 2px solid #D0D7FB2B;
    background-color: transparent;
    width: 172px;
    height: 48px;
}

.catalog-top {
    display: flex;
}
.catalog-top__icon{
    width: 24px;
    height: 24px;
}

.catalog-top__title {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.catalog-top__line {
    width: 1167px;
    height: 2px;
    border-radius: 2px;
    color: #D0D7FB2B;
}
.catalog-top__button-wrapper{
    border: 2px solid #D0D7FB2B;
    background-color: transparent;
    width: 108px;
    height: 48px;

}
.catalog-top__button-link {
   text-decoration: none;
   font-weight: 600;
   color: #F5F8FB;
}

.catalog-top__button{
    width: 48px;
    height: 48px;
}

.catalog-top__button--prev{
    border: 2px solid #D0D7FB2B;
    background-color: transparent;
}

.catalog-top__button--next {
    background-color: #0265DC;
    border: none;
}

.catalog-top__button-icon--next {
    fill: black;
}

.catalog__main{
    display: flex;
    gap: 24px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 480px;
    background-color: #1D1C28;
}

.card__image{
    width: 252.8px;
    height: 324px;
}

.card__price {
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.card__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #EFF5FAD1;

}
/* Card end*/


/* Our blog start*/

.blog__title {
    font-size: 36px;
    line-height: 48px;
    font-family:'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    text-align: center;
}

.blog-card {
    width: 784px;
    height: 434px;
    background-color: #1D1C28;
}
.blog-card__author-icon {
    width: 16px;
    height: 16px;
}

.blog-card__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #EFF5FAD1;
}

.blog-card__date-icon {
    width: 16px;
    height: 16px;
}
.blog-card__date {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;/*check size*/
    color: #EFF5FAD1;
}
.blog-card__title{
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.blog-card__text {
    font-size: 16px;
    line-height: 24px;
}

.blog-card__link-button {
    color: #F5F8FB;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.blog-card__footer {
    width: 161px;
    height: 40px;

}

.blog__button {
    width: 149px;
    height: 48px;
    border: 2px solid #D0D7FB2B;
    background-color: transparent;
    color:#F5F8FB;
    font-weight: 600;

}
.about-us__cards-wrapper {
    display: flex;
}

.about-us__title {
    text-align: center;
    
}

.about-us__card-title {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;

}

.about-us__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;

}

.about-us__button {
    width: 149px;
    height: 48px;
    border: 2px solid #D0D7FB2B;
    background-color: transparent;
    color:#F5F8FB;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.our-team__title {
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.our-team__wrapper {
    display: flex;
}

.team-card {
    width: 293.33px;
    height: 316px;
    background-color: #1D1C28;
    gap: 40px;
}

.team-card__name {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.team-card__position {
    color: #EFF5FAD1;
}

.team-card__media-list {
    list-style-type: none;
    display: flex;
     gap: 5px;
}

.faq__title {
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    text-align: center;
}

.faq__list {
     background-color: #1D1C28;
}

.faq__question {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.faq__answer {
    font-size: 16px;
    line-height: 24px;
}