@use '../../styles/base/variables' as *;
@use '../../styles/base/mixins' as *;

.banner {
    display: flex;
    max-width: 100%;
    padding-inline: 164px;
    gap: 0;
    background: radial-gradient(  500px circle at 17% -35%, $color-accent 0%, $color-accent 40%,$color-accent 100%);

    @include laptop {
            padding-inline: 119px;
        }

        @include tab {
           padding: 64px 24px;
        }

        @media (max-width: 360px) {
            padding: 32px 16px;
         }
    
        &__title-wrapper {
            margin-bottom: 32px;
        }


    &__title {
        font-size: 52px;
        line-height: 62px;
        font-family: $font-accent;
        margin: 0;
        max-width: 700px;

        @include tab {
            font-size: 36px;
            line-height: 48px;
            max-width: 450px;
        }
        @media (max-width: 360px) {
            font-size: 28px;
            line-height: 36px;
        }
    }

    &__highlight {
        color: $color-accent;
    }
    
    &__text-wrapper {
        width: 866.5px;
        max-height: 362px;
        margin: 139px 0;

        @include laptop {
            margin: 56px 0;
    }
    @include tab {
        margin: 0;
  }  
}

    &__text {
    font-size: 20px;
    line-height: 28px;
    margin: 0 auto;
    }

    &__stat-wrapper {
        display: flex;
        gap: 64px;
        margin-bottom: 32px;
    }

    &__stat {
        display: flex;
        flex-direction: column;
    }

    &__stat-number {
    font-size: 52px;
    line-height: 62px;
    font-family: $font-accent;
    text-shadow: 1px 0 4px $color-primary;

    @include tab {
        font-size: 36px;
        line-height: 48px;
     }  
     @media (max-width: 360px) {
        font-size: 28px;
        line-height: 36px;
     }  
    }

    &__stat-text {
        font-size: 16px;
        line-height: 24px;
        color: $color-alt;
    }

    &__buttons-wrapper {
        display: flex;
        gap: 16px;

        @media (max-width: 360px) {
            flex-direction: column;
    }
}

    @include laptop {
        .banner__image { 
            width: 437px;
            height: 526px;
        }
    }

        @include tab {
            .banner__image { 
                display: none;
            }    
}
}