@use '../../styles/base/variables' as *;

.blog__title {
    font-size: 36px;
    line-height: 48px;
    font-family: $font-accent;
    text-align: center;
}

.blog__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 32px; 
    margin: 0 auto;
    padding-inline: 64px;
    margin-bottom: 40px;
  }

  .blog__button {
    display: block;
    margin: 0 auto;
  }