@use '../../styles/base/variables' as *;
@use '../../styles/base/mixins' as m;

.faq {
    margin-bottom: 104px;
    background-color: $bg-main;
    font-family: $font-accent;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;

    &__wrapper {
        background-color: $bg-main;
    }

    &__title {
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        margin-bottom: 40px;

        @include m.tab {
            font-size: 28px;
            line-height: 36px;
        }
    }

    &__list {
        background-color: $bg-main;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        background-color: $bg-alt;

        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            background-color: $color-primary;
            top: 24px;
            right: 24px;
            border-radius: 2px;
            z-index: 1;

            @include m.tab {
                top: 16px;
                right: 16px;
            }
        }

        @include m.tab {
            padding: 24px 24px 32px 24px;
            gap: 24px;
        }
    }

    &__question {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 24px;
        border-bottom: 1px solid $color-border;
    }

    &__answer {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        font-family: $font-base;
    }
}