@use '../../styles/base/variables' as *;
@use '../../styles/base/mixins' as *;

.homepage-catalog__main {
    // display: flex;
    // flex-wrap: nowrap;
    // overflow: hidden;  
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 24px;
    margin: 63px 64px;
    max-width: 1728px;
    min-width: 360px;
    overflow-x: hidden;

    @include laptop {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        overflow-x: auto;
        max-width: 100%;

        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
}
}