@use '../../styles/base/variables' as *;

.homepage-catalog__main {
    // display: flex;
    // flex-wrap: nowrap;
    // overflow: hidden;  
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 24px;
    margin: 63px 64px;
    max-width: 1728px;
}