@use 'src/styles/base/variables' as *;

.our-team__title {
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    font-family: $font-accent;
    margin-bottom: 40px;
}

.our-team__wrapper {
    margin-inline: 64px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: start;
    margin-bottom: 128px;
}