<div class="article-author">
    <img class="article-author__icon article-icon" src="/img/icons/author.svg" alt="Author icon" />
  <span class="article-author__name">Tony Nguyen</span>
   <!--I used <span> because there is no link to the author's article-->
   <img class="article-author__date-icon article-icon" src="/img/icons/calendar.svg" alt="Calendar icon" />
   <time class="article-author__date" datetime="2022-06-20">20 Jun 2022</time>
 </div>