<div class="banners">
            <figure class="banners__item">
              <img class="banners__item-image" loading="lazy" src="/src/images/blog/dragon1.webp" alt="Dragon"  width="500" height="394">
              <figcaption class="banners__item-text banner-text">Photo caption</figcaption>
            </figure>
            <figure class="banners__item">
              <img class="banners__item-image" loading="lazy" src="/src/images/blog/dragon2.webp" alt="Dragon"  width="500" height="394">
              <figcaption class="banners__item-text banner-text">Photo caption</figcaption>
            </figure> 
          </div>