<div class="banners">
   <figure class="banners__item">
     <img class="banners__item-image" loading="lazy" src="/img/blog/dragon1-1x.webp" alt="Dragon" width="500"
          height="394">
     <figcaption class="banners__item-text banner-text">Photo caption</figcaption>
   </figure>
   <figure class="banners__item">
     <img class="banners__item-image" loading="lazy" src="/img/blog/dragon2-1x.webp" alt="Dragon" width="500"
          height="394">
     <figcaption class="banners__item-text banner-text">Photo caption</figcaption>
   </figure>
 </div>