     {% block styles %}
        <link rel="stylesheet" href="/css/main.css">
    {% endblock %}

 <section class="blog-header">
        <div class="blog-header__wrapper">
          <h1 class="blog-header__title">Our blog</h1>
          <nav class="blog-header__nav">
            <ul class="blog-header__list">
              <li class="blog-header__item"><a class="blog-header__link link" href="index.html">Home</a></li>
              <li class="blog-header__item"><a class="blog-header__link link" href="#">Our blog</a></li>
              <li class="blog-header__item"><a class="blog-header__link link" href="#">The Basilisks NFT</a></li>
            </ul>
          </nav>
        </div>
      </section>