<figure class="main-banner">
  <img class="main-banner__image" src="/img/blog/big_dragon-1x.webp" alt="Main banner" width="1023"
       height="557" />
  <figcaption class="main-banner__text banner-text">Photo caption</figcaption>
</figure>