<blockquote class="quote">
   <p class="quote__text">“The first huge metaverse arena to arrange live sports, hang out
     and even make bets and wagers”
   </p>
   <div class="quote__footer">
     <span class="quote__rating">8.5/10</span>
     <span class="quote__copyright">Markout Corporation</span>
   </div>
</blockquote>