<div class="social">
   <p class="social__title"> Share:</p>
   <ul class="social__list">
     {% for item in social %}
       <li class="social__link">
         <a class="button button--tag" href="{{ item.link }}" target="_blank"><img class="social__icon"
                                                                                   src="{{ item.image }}"
                                                                                   alt="{{ item.name }}" /></a>
       </li>
     {% endfor %}
   </ul>
</div>