@use '../../styles/base/variables' as *;

.contact-form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1268px;
    font-size: 14px;
    font-family: $font-base;
    font-weight: 400;
    line-height: 20px;
    box-shadow: none;


    &__title-wrapper {
        margin-inline: 32px;
        padding-inline: 256px;
        text-align: center;
        padding-top: 64px;
        margin-bottom: 40px;
    }

    &__title {
      font-family: $font-accent;
      font-size: 36px;
      line-height: 48px;
      margin: 0;
      color:$color-secondary;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: $color-alt;
        margin: 0;
        
    }

    &__content-wrapper {
        margin-inline: 320px;
        max-width: 640px;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        gap: 24px ;
    }

    &__switcher {
        display: flex;
        justify-content: space-between;
        padding: 24px;
        background-color: #1D1C28;
    }

    &__switcher-text {
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin-bottom: 10px;
    }

    &__button {
    max-width: 640px;
    }
}