@use '../../styles/base/variables' as *;

.contact-form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1268px;
    font-size: 14px;
    font-family: $font-base;
    font-weight: 400;
    line-height: 20px;
    box-shadow: none;
    margin-bottom: 104px;


    &__title-wrapper {
        margin-inline: 32px;
        padding-inline: 256px;
        text-align: center;
        padding-top: 64px;
        margin-bottom: 40px;
    }

    &__title {
      font-family: $font-accent;
      font-size: 36px;
      line-height: 48px;
      margin: 0;
      color:$color-secondary;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: $color-alt;
        margin: 0;
        
    }

    &__content-wrapper {
        width: 100%;
        max-width: 640px;
        display: flex; 
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        gap: 24px ;
    }

    &__switcher {
        display: flex;
        justify-content: space-between;
        padding: 24px;
        background-color: $bg-alt;
    }

    &__switcher-text {
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin-bottom: 10px;
    }

    &__button {
    max-width: 640px;
    }

    &__checkbox {
        max-width: 640px;
        }
}

.contact-form__checkbox .checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  .contact-form__checkbox label {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    color: $color-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

.contact-form__textarea {
    resize: none;
    padding: 10px 22px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    font-family: $font-base;
    border: 2px solid $color-separator;
    background-color: transparent;
    transition-duration: $tran-duration;
    color: $color-surface;

    &:hover {
        border-color: $color-border-focus;
    }

    &:focus-visible {
        border-color: $color-focus-visible;
        box-shadow: 0 0 0 2px $color-focus-visible;
        outline: 0 solid $color-focus-visible;
    }

    &:valid {

    }

    &:disabled {
        color: #E5ECFB5C;
        background-color: $color-border;
        border-color:$color-separator ;
    }

    &:invalid {
        border-color: $color-invalid;

        &:focus {
            box-shadow: 0 0 0 1px $color-invalid;
        }

        &:focus-visible {
            box-shadow: 0 0 0 1px $color-invalid;
        }   
    }
}