@use '../../styles/base/variables' as *;
@use '../../styles/base/mixins' as m;

.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center; 
    font-weight: 400;
    padding-inline: 356px;

     @include m.laptop {
        padding-inline: 132px;
     }

     @include m.laptop {
        padding-inline: 24px;
     }

     @include m.mob {
        padding-inline: 16px;
        justify-content: stretch;
        flex-direction: column;
        
     }

    &__item {
        flex: 1 1 262px;
        min-width: 240px;
        max-width: 262px;
        display: flex;
        flex-direction: column;
        padding: 40px 32px;
        text-align: center;
        align-items: center; 
        border: 1px solid $bg-secondary-dark;

        @include m.tab {
            max-width: 241px;
         }

         @include m.mob {
            flex: 1 1 auto;
            max-width: none;
            width: 100%; 
            box-sizing: border-box;
         }
    }

    &__icon {
        margin-bottom: 24px;
    }

    &__title {
        font-size: 36px;
        line-height: 48px;
        font-family: $font-accent;
        font-style: normal;
        max-width: 264px;
    }

    &__value {
        font-style: normal;
        color: $color-alt;
        font-family: $font-base;
        max-width: 264px;
    }
}