<section class="contact-info">
        <address class="contact-info__item">
        <img class="contact-info__icon" src="img/icons/location-icon.svg" alt="Location icon" width="56" height="56">
        <span class="contact-info__title">Location</span>
        <span class="contact-info__value">2163 Phillips Gap Rd</span>
    </address>
    <address class="contact-info__item">
        <img class="contact-info__icon" src="img/icons/mail-icon.svg" alt="Email icon" width="56" height="56">
        <span class="contact-info__title">Email</span>
        <a class="contact-info__value link" href="mailto:Info.avitex@gmail.com">Info.avitex@gmail.com</a>
    </address>
    <address class="contact-info__item">
        <img class="contact-info__icon" src="img/icons/phone-icon.svg" alt="Phone icon" width="56" height="56">
        <span class="contact-info__title">Phone</span>
        <a class="contact-info__value link" href="tel:+16668888">+1 666 8888</a>
    </address>
    </section>