<form  class="contact-form" action="url" method="post">
    <div class="contact-form__title-wrapper">
    <h2 class="contact-form__title"> Get in touch</h2>
    <p class="contact-form__subtitle">Browse through the most freuently asked questions</p>
   </div>
   <div class="contact-form__content-wrapper">
   <div class="contact-form__switcher">
  <span class="contact-form__switcher-text">Use my profile information</span>
   <div class="switcher">
  <input type="checkbox" id="switch" class="switcher__input visually-hidden">
  <label for="switch" class="switcher__label"></label>
</div>  
 </div>
   <div class="contact-form__item">
        <label class="contact-form__label" for="name">Name</label>
            <input  class="input" id="name" type="text" name="name" placeholder="Enter your last name" required>
    </div>
    <div class="contact-form__item">
        <label class="contact-form__label" for="last_name">Last name</label>
            <input  class="input" id="last_name" type="text" name="last-name" placeholder="Enter your last name" required>
    </div>
    <div class="contact-form__item">
        <label class="contact-form__label" for="birthname">Date of birth</label>
        <input  class="input" id="birthname" type="date" name="birthname">
    </div>
    <div class="contact-form__radio">
  <p class="contact-form__heading">Gender</p>
  <div class="contact-form__radio-wrapper">
  <label class="radio-wrapper">
    <input class="radio-input visually-hidden" type="radio" id="male" name="gender" checked />
    <span class="custom-radio"></span>
    Male
  </label> 
  <label class="radio-wrapper">
    <input class="radio-input visually-hidden" type="radio" id="female" name="gender" />
    <span class="custom-radio"></span>
    Female
    </label>
    </div>
</div>
    <div class="contact-form__item">
        <label class="contact-form__label" for="email">Email</label>
        <input  class="input" type="email" id="email" name="user-email" pattern="A-Z0-9.-]+\.[a-zA-Z]{2,}" required>
    </div>
    <div class="contact-form__item">
        <label class="contact-form__label" for="phone">Phone number</label>
        <input  class="input" type="tel" id="phone" name="user-phone">
    </div>
    <div class="contact-form__item">
    <label class="contact-form__label" for="message">Message</label>
    <textarea class="contact-form__textarea" name="Welcome" id="message" cols="20" rows="0" required></textarea>
</div>
<div class="contact-form__checkbox">
  <label class="checkbox-wrapper">
   <input type="checkbox" class="checkbox-input visually-hidden" name="checkbox" id="check"/>
   <span class="custom-checkbox"></span>
    <span class="checkbox-text">
     By clicking on the ‘Send Message’ button I agree to
    <a class="link link--accent" href="#">all the terms of the security policy</a>
    </span>
  </label>
</div>
    <input class="contact-form__button button button--accent" type="submit" value="Send message">
</div>
</form>