{% extends 'layouts/index/base.njk' %}

{% block content %}
  {% include 'partials/banner.njk' %}
  {% include 'partials/catalog.njk' %}
  {% include 'partials/card.njk' %}
  {% include 'partials/blog.njk' %}
  {% include 'partials/blog-card.njk' %}
  {% include 'partials/about-us.njk' %}
  {% include 'partials/our-team.njk' %}
  {% include 'partials/faq.njk' %}
{% endblock %}
