.aside-tag {
    background-color: $bg-alt;
    padding: 22px;


    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        padding-left: 0;
    }

    &__item {
        border: 2px solid var(--Elements-SeporatorBold, $color-separator);
        padding: 0;
    }
}