.banners {
    display: flex;
    gap: 24px;

    &__item {
        margin: 0;
        position: relative; 
    }

    &__item-image {
        display: block;
        width: 100%;
    }

    &__item-text {
        position: absolute;
        bottom: 12px;
        left: 24px;
    }
}