.blog-header {
    width: 1728px;
    height: 376px;
    list-style: none;
    text-align: center;
    display: flex;
    background-image: url("/binabox-bazchenko/assets/blog_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: 100vh; 
}

.blog-header__title {
    font-size: 52px;
    line-height: 62px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    text-align: center;
}

.blog-header__list {
    list-style: none;
    text-align: center;
    display: flex;
}
.blog-header__nav {
    display: flex;
    align-items: center;
    gap: 8px;
}



.blog-header__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}



.aside-tag__list {
    list-style: none;
    display: flex;
    gap: 10px;

}

.aside-categories__link {
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}



.aside-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;;
}

.aside-tag__item {
    border: 2px solid var(--Elements-SeporatorBold, var(--border-color));
}

.main-banner__image {
    max-width: 1728px;
}

.banner-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.blog-article__title{
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.article-author{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.article-icon {
    width: 16px;
    height: 16px;
}

.blog-article__accent {
    background-color: var(--accent);
    color:var(--white);
}

.list-name__list-items{
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-name__list-items li {
    position: relative;
    padding-left: 30px;
}

.list-name__list-items li::before {
    content: "";
    background-image: url("/binabox-bazchenko/assets/logo/Icons-logo.png");
    background-size: contain;
     background-repeat: no-repeat;
     width: 24px;
     height: 24px;
     position: absolute;
     left: 0;
}


.quote {
    background-color: #002754;
}

.quote__text {
    font-size: 28px;
    line-height: 36px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.quote__rating {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.quote__copyright{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.banners {
    display: flex;
}

.header {
    font-size: 28px;
    line-height: 36px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.tags__title {
    font-size: 14px;
    line-height: 20px;
}

.tags__list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.tags {
    display: flex;
    justify-content: space-between;
}
.tags__item{
   border: 2px solid var(--Elements-SeporatorBold, var(--border-color));
}

.social__list {
    list-style: none;
    display: flex;
    gap: 10px;
}
