.banner {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 139px;
}

.banner__title {
    font-size: 52px;
    line-height: 62px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;

}
.banner__highlight {
    color: var(--accent);

}
.banner__text-wrapper {
    width: 605px;
}

.banner__text{
   font-size: 20px;
   line-height: 28px;
}

.banner__stat-wrapper {
    display: flex;
    gap: 64px;
    margin-bottom: 32px;
}

.banner__stat {
    display: flex;
    flex-direction: column;
}

.banner__stat-number {
   font-size: 52px;
   line-height: 62px;
   font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;;
    text-shadow: 1px 0 10px var(--white);
}

.banner__stat-text {
    font-size: 16px;
    line-height: 24px;
    color: #EFF5FAD1;
}

.banner__buttons-wrapper {
    display: flex;
    gap: 16px;
}

.catalog-top {
    display: flex;
    align-items: center;
    margin: 64px 64px 40px 54px  ;
}
.catalog-top__icon{
    width: 24px;
    height: 24px;
}

.catalog-top__title {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.catalog-top__line {
    width: 1167px;
    margin: auto;
    color: var(--border-color);
}
.catalog-top__action{
  display: flex;
  gap: 16px;
}

.catalog__main{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 63px 64px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 480px;
    padding: 24px;
    box-sizing: border-box;
    background-color: #1D1C28;
}

.card__image{
   
}

.card__price {
    margin-top: 20px ;
    margin-bottom:  8px;
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.card__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #EFF5FAD1;

}
/* Card end*/


/* Our blog start*/
.blog {
    
}
.blog__title {
    font-size: 36px;
    line-height: 48px;
    font-family:'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    text-align: center;
}

.blog__wrapper {
    gap: 15px;
}

.blog-card {
    width: 784px;
    height: 434px;
    background-color: #1D1C28;
}
.blog-card__author-icon {
    width: 16px;
    height: 16px;
}

.blog-card__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #EFF5FAD1;
}

.blog-card__date-icon {
    width: 16px;
    height: 16px;
}
.blog-card__date {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;/*check size*/
    color: #EFF5FAD1;
}
.blog-card__title {
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.blog-card__text {
    font-size: 16px;
    line-height: 24px;
}

.blog-card__footer {
    width: 161px;
    height: 40px;

}

/* .blog-card__footer-button {
    margin-bottom: 128px;
}  */

.about-us {
    padding: 64px ;
}

.about-us__cards-wrapper {
    display: flex;
    margin-inline: 0;
    gap: 32px;
}

.about-us__title {
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    margin-bottom: 16px;
}

.about-us__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-inline: 32px;
    color: #EFF5FAD1;
}

.about-us__card-title {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    margin-bottom: 24px;
}

.about-us__card {
    padding: 32px;
}

.about-us__card-title {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.about-us__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

}

.about-us__button {
   display: block;
   margin: 0 auto;
    /* width: 149px;
    height: 48px;
    border: 2px solid var(--border-color);
    background-color: transparent;
    color:var(--white);
    font-weight: 600;
    font-size: 18px;
    line-height: 24px; */
}

.our-team__title {
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.our-team__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    justify-items: center; 
    align-items: center;
    margin-inline: 64px;
}

.team-card {
    width: 293.33px;
    height: 316px;
    background-color: #1D1C28;
    text-align: center;
    align-items: center;
}

.team-card__name {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.team-card__position {
    color: #EFF5FAD1;
}

.team-card__media-list {
    list-style-type: none;
    display: flex;
     gap: 5px;
}

.faq__title {
    font-size: 36px;
    line-height: 48px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
    text-align: center;
}

.faq__list {
     background-color: #1D1C28;
}

.faq__question {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;
}

.faq__answer {
    font-size: 16px;
    line-height: 24px;
}