 <aside class="sidebar">
    <form class="sidebar__filter" action="url" method="get">
   <fieldset class="sidebar__group">
  <legend class="sidebar__group-title">Clothing</legend>
<div class="sidebar__group-wrapper">
  <label class="checkbox-wrapper">
    <input type="checkbox" id="combatant" name="clothing" value="combatant" class="checkbox-input visually-hidden"/>
    <span class="custom-checkbox"></span>
    Combatant
  </label>
  <label class="checkbox-wrapper">
    <input  type="checkbox" id="ninja" name="clothing" value="ninja" class="checkbox-input visually-hidden"/>
    <span class="custom-checkbox"></span>
    Ninja
  </label>
  <label class="checkbox-wrapper">
    <input type="checkbox" id="king" name="clothing" value="king" class="checkbox-input visually-hidden" />
    <span class="custom-checkbox"></span>
    King
  </label>
  <label class="checkbox-wrapper">
    <input type="checkbox" id="queen" name="clothing" value="queen" class="checkbox-input visually-hidden"/>
    <span class="custom-checkbox"></span>
    Queen
  </label>
  <label class="checkbox-wrapper">
    <input type="checkbox" id="robot" name="clothing" value="robot" class="checkbox-input visually-hidden" />
    <span class="custom-checkbox"></span>
    Robot
  </label>
  </div>
</fieldset>
      
<fieldset class="sidebar__group">
    <legend class="sidebar__group-title">Eyes</legend>
    <div class="sidebar__group-wrapper">
    <label class="radio-wrapper">
        <input type="radio" class="radio-input visually-hidden" name="eyes" value="yellow" />
        <span class="custom-radio"></span>
        Yellow
    </label>
    <label class="radio-wrapper">
        <input type="radio" class="radio-input visually-hidden" name="eyes" value="green" />
        <span class="custom-radio"></span>
        Green
    </label>
    <label class="radio-wrapper">
        <input type="radio" class="radio-input visually-hidden" name="eyes" value="mix" />
        <span class="custom-radio"></span>
        Mix
    </label>
    <label class="radio-wrapper">
        <input type="radio" class="radio-input visually-hidden" name="eyes" value="orange" />
        <span class="custom-radio"></span>
        Orange
    </label>
    </div>
</fieldset>

<fieldset class="sidebar__group">
    <legend class="sidebar__group-title">Face</legend>
    <div class="sidebar__group-wrapper">
    <label class="radio-wrapper">
        <input type="radio" class="radio-input visually-hidden" name="face" value="yellow" />
        <span class="custom-radio"></span>
        Yellow
    </label>
    <label class="radio-wrapper">
        <input type="radio" class="radio-input visually-hidden" name="face" value="green" />
        <span class="custom-radio"></span>
        Green
    </label>
    <label class="radio-wrapper">
        <input type="radio" class="radio-input visually-hidden" name="face" value="mix" />
        <span class="custom-radio"></span>
        Mix
    </label>
    <label class="radio-wrapper">
        <input type="radio" class="radio-input visually-hidden" name="face" value="orange" />
        <span class="custom-radio"></span>
        Orange
    </label>
    </div>
</fieldset>

<fieldset class="sidebar__group">
    <legend class="sidebar__group-title">Skin</legend> 
        <div class="sidebar__group-wrapper">
    <label class="sidebar__checkbox">
        <input type="checkbox" name="skin" value="skin1" class="switcher__input visually-hidden">
        <span class="switcher__label"></span>
        Skin 1
    </label>
    <label class="sidebar__checkbox">
        <input type="checkbox" name="skin" value="skin2" class="switcher__input visually-hidden">
        <span class="switcher__label"></span>
        Skin 2
    </label>
    </div>
</fieldset>
<fieldset class="sidebar__group">
    <legend class="sidebar__group-title">Background</legend>
    <label class="radio-wrapper">
        <input type="radio" class="radio-input visually-hidden" name="background" value="yellow" />
        <span class="custom-radio"></span>
        Yellow
    </label>
    <label class="radio-wrapper">
        <input type="radio" class="radio-input visually-hidden" name="background" value="green" />
        <span class="custom-radio"></span>
        Green
    </label>
    <label class="radio-wrapper">
        <input type="radio" class="radio-input visually-hidden" name="background" value="mix" />
        <span class="custom-radio"></span>
        Mix
    </label>
    <label class="radio-wrapper">
        <input type="radio" class="radio-input visually-hidden" name="background" value="orange" />
        <span class="custom-radio"></span>
        Orange
    </label>
</fieldset>
 <fieldset class="sidebar__group">
  <legend class="sidebar__group-title">Special</legend>
  <div class="sidebar__group-wrapper">
  <label class="checkbox-wrapper">
    <input type="checkbox" id="green" name="clothing" value="green" class="checkbox-input visually-hidden"/>
    <span class="custom-checkbox"></span>
    Green
  </label>

  <label class="checkbox-wrapper">
    <input type="checkbox" id="yellow" name="clothing" value="yellow" class="checkbox-input visually-hidden"/>
    <span class="custom-checkbox"></span>
    Yellow
  </label>

  <label class="checkbox-wrapper">
    <input type="checkbox" id="mix" name="clothing" value="mix" class="checkbox-input visually-hidden"/>
    <span class="custom-checkbox"></span>
    Mix
  </label>

  <label class="checkbox-wrapper">
    <input type="checkbox" id="orange"  name="clothing" value="orange" class="checkbox-input visually-hidden"/>
    <span class="custom-checkbox"></span>
    Orange
  </label>
  </div>
</fieldset>
<input class="contact-form__button button button--accent" type="submit" value="Apply">
        </form>
        </aside>