body {
    background-color: #0D0D15;
    font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color:  #F5F8FB;
}

.header__container {
    display: flex;
    padding: 0;
}

.header__list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header__list-link {
    text-decoration: none;
    font-family: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 20px; /* check later*/
    color: #F5F8FB;
}

.header__action {
    display: flex;
    align-items: center;
}
.header__search-input{
    width: 188px;
    height: 48px;
    padding: 5px 10px; /* check later*/
    font-size: 14px;
    line-height: 20px;
    border: 2px solid #D0D7FB2B;
    background-color: transparent;
    color: #F5F8FB;
    font-weight: 600;
}

.header__discord{
    border: 2px solid  #D0D7FB2B;
    width: 150px;
    height: 48px;
    text-align: center;
}

.header__discord-icon {
    width: 24px;
    height: 24px;
}



.header__discord-link {
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    color: #F5F8FB;
}

.header-button__button {
    background-color: #0265DC;
    color: #F5F8FB;
    width: 159px;
    height: 48px;
    font-weight: 600;
}


/*-----*/



footer {
    background-color: #1A1925;
    padding: 64px 64px 32px 64px;
    font-size: 16px;
    line-height: 24px;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1600px;
    height: 156px;
    margin: 64px;
}
.footer__logo-container {
    width: 320px;
    height: 94px;

}

.footer__links-container {
    display: flex;
    gap: 10px;
    width: 152px;
    height: 156px;
}

.footer__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}
.footer__description {
    font-size: 14px;
    line-height: 20px;
}

.footer__list {
    list-style: none;
}
.footer__link {
    color: #F5F8FB;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}

.footer__item {


}

.footer__bottom {
    width: 1600px;
    height: 72px;
    display: flex;
    justify-content: space-between;
}
.footer__copyright {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}

.footer__socials-list {
    display: flex;
    list-style-type: none;
}