/* :root {
    --btn-padding: 10px 22px;
} */

/* .button {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 22px;
  font-weight: 600;
  border: 2px solid transparent;
  max-width: 200px;
  text-decoration: none;
  color: #F5F8FB;
}

.button--accent{
  background-color: #0265DC;
} 
.button--accent:hover {
  background-color: #3892F3;
}
.button--accent:focus {
  border: 4px solid #3892F3;
}

.button--secondary {
  background-color: transparent;
  border: 2px solid #D0D7FB2B;
}  

.button--secondary:hover {
  background-color: #BFC5EE1F;
  border: 2px solid #BFC5EE1F
}  


.button--tag {
  background-color: transparent;
  border: 2px solid #D0D7FB2B;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  border-color: #D0D7FB2B;
} */


/**
 * INPUTS
 */

 /* .link{
    color: var(--white);
    text-decoration: none;
 } */