body {
    background-color: $bg-main;
    color: $color-primary;
    font-family: $font-base;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    box-sizing: border-box;
    max-width: 1728px;
}

a {
    text-decoration: none;
}

img{ 

}

ul {
    list-style-type: none;
}