$font-base: 'Poppins', 'Arial', 'Helvetica', sans-serif;
$font-accent: 'Bakbak One', 'Impact', 'Arial Black', sans-serif;


$color-primary: #F5F8FB;
$color-alt: #EFF5FAD1;
$color-secondary: #F8F7FF;

$color-accent: #0265DC;
$color-active:#0054B6;
$color-disabled: #E5ECFB5C;
$color-invalid: #EA3829;


$color-separator: #D0D7FB2B;
$color-border :#BFC5EE1F;
$color-border-focus: #3892F3;

$bg-main: #0D0D15;
$bg-alt: #1D1C28;
$bg-secondary: #1A1925;
$bg-quote: #002754;


$tran-duration: 0.25s;
$btn-padding: 10px 22px;
